/* Réinitialisation des styles par défaut des navigateurs */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Éléments HTML */

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* En-têtes */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
  padding: inherit;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

/* Paragraphes */

p {
  margin-bottom: 1em;
}

/* Listes */

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1em;
}

/* Liens */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
}

/* Formulaires */

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* Tableaux */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5em;
}

/* Éléments cachés */

.hidden {
  display: none;
}

/* Eléments spécifiques */

address {
  font-style: italic;
}

blockquote {
  border-left: 5px solid #ccc;
  padding-left: 1em;
  margin-left: 1em;
}

code {
  font-family: monospace;
  background-color: #f6f8fa;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

pre {
  font-family: monospace;
  white-space: pre-wrap;
  background-color: #f6f8fa;
  padding: 0.5em;
  border-radius: 3px;
}

/* Classes utilitaires */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}